*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #e0e0e0;
  height: 135vh;
}

/* Style Header */
header {
  background-color: #2c0b09;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 16px;
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset, 0px 4px 2px 0px rgba(255, 255, 255, 0.25) inset, 4px 4px 26px 0px rgba(255, 255, 255, 0.25) inset, 0px 40px 80px 0px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-right: auto;
  margin-left: 10px;
  font-size: small;
  cursor: pointer;
}

nav ul {
  display: flex;
  padding: 2px;
}

nav li {
  list-style-type: none;
  padding: 10px;
  font-size: small;
}

nav ul :hover {
  color: #ff3d00;
}

a {
  color: #fff;
  text-decoration: none;
}

#chat {
  text-decoration: underline;
}

.dropbtn {
  margin-right: 20px;
  border: none;
  font-size: 20px;
  padding: 0px 5px;
  width: 100px;
  background-color: #fff;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
  color: #2c0b09;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
}

.dropdown-content a {
  color: black;
  padding: 7px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background: #942720;
  border-radius: 5px;
}

.show {
  display: block;
}
/* End Style Header */

/* Style Main Title */
main {
  color: #2e0c0a;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 80px;
  margin-left: 100px;
}
/* End Style Main Title */

/* Style Isi Content */
article {
  display: flex;
  margin-top: 30px;
}

.section-coach {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  margin: 0px 100px 0px 100px;
  gap: 5px;
  border-radius: 11px;
  background: #2e0c0a;
  padding-bottom: 30px;
}

.img-justin {
  width: 162px;
  height: 162px;
  flex-shrink: 0;
  text-align: center;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.joko {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.bca {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container-transfer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.detail {
  color: #fff;
  text-align: left;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 40px;
}

.detail-transfer {
  display: flex;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  gap: 70px;
  margin-bottom: 10px;
}
.detail-transfer1 {
  display: flex;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  gap: 125px;
  margin-bottom: 10px;
}
.detail-transfer2 {
  display: flex;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  gap: 117px;
  margin-bottom: 10px;
}
.detail-transfer3 {
  display: flex;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  gap: 85px;
  margin-bottom: 10px;
}
.detail-transfer4 {
  display: flex;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  gap: 64px;
}

.section-payment {
  flex: 2;
  border-radius: 10px;
  background: #2e0c0a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 100px 0px 0px;
  padding-top: 30px;
  gap: 5px;
  height: 240px;
}

.nama-joko {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 200px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.bank-bca {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 205px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.tanggal {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 182px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.jumlah {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 184px;
  margin-left: 20px;
}

.btn-chat {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.bayar-btn {
  margin-left: 430px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 15px;
  background: #000090;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  margin-top: 30px;
}

.ganti {
  padding-left: 35%;
  margin-top: 20px;
}

.trainer {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
/* End Style Isi Content */

/* Media Screen Device Hp */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-radius: 0px;
  }
  .logo {
    font-size: 20px;
    margin: 10px 0px 0px 0px;
  }
  .dropbtn {
    margin-bottom: 15px;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 40px 0px;
    font-size: 1.2rem;
  }

  article {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .section-coach {
    margin: 0px 10px 40px 10px;
    padding: 20px 0px;
  }
  .container-transfer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 10px;
    padding: 20px 20px;
    padding-bottom: 30px;
  }
  .nama-joko {
    font-size: 14px;
    margin-left: 0px;
    gap: 100px;
  }
  .bank-bca {
    font-size: 14px;
    margin-left: 0px;
    gap: 80px;
  }
  .tanggal {
    font-size: 14px;
    margin-left: 0px;
    gap: 89px;
  }
  .jumlah {
    font-size: 14px;
    margin-left: 0px;
    gap: 80px;
  }
  .btn-chat {
    display: block;
    margin-top: 15px;
  }
  .bayar-btn {
    margin-left: 60%;
    background-color: #cdc0c0;
    width: 150px;
    color: #000;
    padding: 15px 20px;
  }
}
/* End Media Screen Device Hp */
